body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1080px;
    height: 750px;
    margin-bottom: 0;
    background-image: url(../_imagens/WhatsApp\ Image\ 2021-01-13\ at\ 16.38.15\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;

   
}
.h1principal{
    text-align: center;
    font-size: 52px;
    color: black;
    text-shadow: 4px 4px 7px green ;
    
}
.header-topo{
    width: 1080px;
    height: 300px;
}
.img-header{
    width: 50% ;
    height: 130% vh;
}
.ul-header{
    float: right;
    
}
li{
    display: inline-block;
}
a{
   text-decoration: none;
   text-transform: uppercase;
   line-height: 1.5px;
   color: black;
   font-size: 18px;
}
a:hover{
    color: blue;
text-decoration: underline;
}
.rodape{
    font-size: 1.5em;
    text-align: center;
 margin: 400px auto 0 auto;